@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Kufam', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

html {
  color: #000;
  background-color: #ffffff;
}

a {
  font-weight: 500;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: url('../images/memphis-colorful.webp') center center
    fixed;
}

body.modal {
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:focus,
button:focus-visible {
  @apply outline-none focus:shadow-[3px_3px_1px_black];
}

.card {
  padding: 2em;
}

#__nuxt {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.scroll {
  overflow: auto;
}

.scroll::-webkit-scrollbar {
  width: 20px;
}

.scroll::-webkit-scrollbar-track {
  border-radius: 10px;
  background: white;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #dbaeff;

  border: 3px solid black;
}
.scroll::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 100px;
}

.article-content {
  > * {
    @apply mb-8;
  }

  > h2 {
    @apply leading-tight text-3xl md:text-4xl mt-3 mb-[18px] relative z-[1] inline-block after:z-[-1] left-0 translate-x-0 hover:underline decoration-primary;

    > a code {
      @apply bg-slate-100 border-[3px] border-black p-1 px-3 text-3xl rounded-md;
    }
  }

  > h3 {
    @apply leading-tight text-2xl md:text-3xl mt-3 mb-[18px];

    > a code {
      @apply bg-slate-100 border-[3px] border-black p-1 px-3 text-2xl rounded-md;
    }
  }

  > ul li {
    @apply text-lg pl-5 before:w-[6px] before:h-[6px] relative before:absolute before:left-0 before:top-[10px] before:bg-primary before:rounded-full;
  }

  > p code {
    @apply bg-slate-100 border-[3px] border-black p-1 px-3 text-xs rounded-md leading-8;
  }

  > p a {
    @apply text-[rgb(173,86,244)] font-semibold;
  }

  > blockquote {
    @apply bg-white border-[3px] border-black px-6 py-8 rounded-xl italic font-light leading-8;
  }
}
